h1 {
    color: olive;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: yellow;
    color: white;
    border: 5px solid;
}

}

section > p {
    background: darkslategrey;
    color: darkorange;
}

#font {
    font-family: 'Roboto Condensed', sans-serif;
}

#special {
    border: 10px solid #000000;
}

#article {
    border: 10px solid chocolate;
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

.back {
    background: darkkhaki;
}

.footer {
    background: #000;
    color: wheat;
}

.responses {
    background: #000;
    color: wheat;
}